doctype html
html(lang="en")
    head
        title= pageTitle
    body(style="size:A4; border:1px solid black")
        div
            div(style="position:relative;")
                div(style="float:right; position:relative; margin-right: 10px")
                    span(style="font-size: 22px;font-weight:bold") (for office use)
                    div(style="width: 130px; height:60px; border: 1px solid black")
            div(style="text-align: center")
                h2 VIDYA MANDIR
                span SENIOR SECONDARY SCHOOL, MYLAPORE, CHENNAI :: 600004
                span APPLICATION FOR ADMISSION IN LKG (Non RTE)
